<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.poisonpenllc.Claude-Status</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>claude-status</string>
			</array>
		</dict>
	</array>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://gmr.github.io/claude-status/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>GEGFuxGxuQ+DuaeSxnImzTWngxKYgK7froTxTOOA8X8=</string>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
</dict>
</plist>
